<section id="SendSection">
    <div class="sharecode">
        @if (this.sharePairCode()) {
            <p>Share code: {{ sharePairCode() }}</p>
        }
    </div>

    <div class="textMessage">
        <label>Text Message:</label>
        <br />
        <textarea [(ngModel)]="data"></textarea>
        <br />
        <button type="button" (click)="send()">Send</button>
    </div>

    <div class="file">
        <label>File:</label>
        <br />
        <input type="file" (change)="fileChange($event)" />
        <button type="button" (click)="sendFile()">Send File</button>
    </div>


</section>
